<!-- <div class="holder">
  <div class="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div> -->

<div class="centered" *ngIf="isLoading">
  <div class="blob-1"></div>
  <div class="blob-2"></div>
</div>
