<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Sign In</h3>
          <form
            class="form-signin"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-label-group">
              <input
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="Email address"
                required
                autofocus
                formControlName="email"
                [maxlength]="25"
              />
              <label for="inputEmail">Email address</label>

              <!-- validation -->
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validationMessages.email"
                >
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('email').hasError(validation.type) &&
                      (loginForm.get('email').dirty ||
                        loginForm.get('email').touched)
                    "
                  >
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div> 
            </div>

            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
                formControlName="password"
                (keyup.enter)="onSubmit()"
                [maxlength]="12"
              />
              <label for="inputPassword">Password</label>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validationMessages.password"
                >
                  <div
                    class="error-message"
                    *ngIf="
                      loginForm.get('password').hasError(validation.type) &&
                      (loginForm.get('password').dirty ||
                        loginForm.get('password').touched)
                    "
                  >
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>

            <button
              class="btn btn-lg btn-success btn-block text-uppercase"
              type="submit"
              [disabled]="loginForm.invalid"
            >
              Sign in
            </button>
            <hr class="my-4" />

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              (click)="register()"
            >
              Sign up/ Register Form
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
