<div class="col-md-12 dogs-list">
  <h2>Animals List</h2>
  <button class="btn btn-danger add-btn" (click)="addDog()">Dog List</button>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Profile</th>
        <th>Type</th>
        <th>Species</th>
        <th>Breeds</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of animals; trackBy: trackByFn">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
          <div class="row">
            <div class="col" *ngFor="let element of user.photos">
              <img src="{{ element.small }}" class="animal-img" alt="" />
            </div>
          </div>
        </td>
        <td>{{ user.type }}</td>
        <td>{{ user.species }}</td>
        <td>{{ user.breeds.primary }}</td>
        <td>
          {{ user.age }}
          <!-- <button class="btn btn-danger" (click)="deleteDog(dogs)">
            Delete
          </button>
          <button
            class="btn btn-danger"
            (click)="editDog(dogs)"
            style="margin-left: 20px;"
          >
            Edit
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-loader></app-loader>
<!-- <app-loader *ngIf="petFinderService.isLoading"></app-loader> -->
<!-- <div class="error">{{ error }}</div> -->
