<div class="container">
  <h2 class="text-center">Dog List</h2>
  <div class="row justify-content-end">
    <div class="col-md-9">
      <p>
        You have selected: <b>{{ selectedBreed }}</b>
      </p>
    </div>
    <div class="col-md-3">
      <button
        class="btn btn-light btn-outline-secondary"
        [routerLink]="['/list-dog']"
      >
        Animals List
      </button>
      <button class="btn btn-light btn-outline-info" [routerLink]="['']">
        Logout
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <form [formGroup]="addForm">
      <div class="form-group">
        <label for="exampleFormControlSelect1"
          >Select Dog Breed to get list</label
        >
        <select
          (change)="dogbreedSelector()"
          class="form-control"
          id="exampleFormControlSelect1"
          [(ngModel)]="selectedBreed"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let val of breeds" [value]="val.name">{{
            val.name
          }}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Profile</th>
          <th>Name</th>
          <th>Status</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Description</th>
          <th>Org. Id</th>
          <th>Contact</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of animals; trackBy: trackByFn">
          <td>{{ item.id }}</td>
          <td>
            <div class="row">
              <div class="col" *ngFor="let element of item.photos">
                <img src="{{ element.small }}" class="animal-img" alt="" />
              </div>
            </div>
          </td>
          <td>{{ item?.name }}</td>
          <td>{{ item?.status }}</td>
          <td>{{ item?.age }}</td>
          <td>{{ item?.gender }}</td>
          <td>{{ item?.description }}</td>
          <td>{{ item?.organization_id }}</td>
          <td>{{ item.contact.email }}</td>
          <!-- <td>
            <button class="btn btn-danger" (click)="deleteDog(dogs)">
              Delete
            </button>
            <button
              class="btn btn-danger"
              (click)="editDog(dogs)"
              style="margin-left: 20px;"
            >
              Edit
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loader></app-loader>
<!-- <app-loader *ngIf="petFinderService.isLoading"></app-loader>-->
<!-- <div class="error">{{ error }}</div> -->
